{{- $context := .context -}}
{{- with .context.GetTerms "authors" -}}
<aside class="col widget widget-authors">
    <div class="card h-100">
        <div class="card-body">
            <h3 class="card-title">{{- if gt (len .) 1 -}}{{- i18n "authors" 1 -}}{{- else -}}{{- i18n "authors" 1 -}}{{- end -}}</h3>
            {{- range . -}}
            <div class="card-text row">
                <div class="col-auto author-avatar">
                    {{- $image := .Page.Resources.GetMatch .Params.Avatar -}}
                    {{- with $image -}}
                        <figure class="figure-img">
                            <img src="{{- .RelPermalink -}}" width="{{- .Width -}}" height="{{- .Height -}}" alt="{{- .Params.Title -}}" />
                        </figure>
                    {{- end -}}
                </div>
                <div class="col-auto author-description">
                    <p class="author-name mb-0">{{- .Params.Title -}}</p>
                    <p class="author-bio">{{ .Params.Bio -}}</p>
                    {{- with .Params.Socials -}}
                        <ul class="author-socials mb-0">
                        {{- range . -}}
                            <li><a href="{{- .url -}}" title="{{- .alt -}}"><i class="fab fa-{{- .icon -}}"></i></a></li>
                        {{- end -}}
                        </ul>
                    {{- end -}}
                </div><!-- col -->
            </div><!-- row -->
            {{- end -}}
        </div><!-- card-body -->
    </div><!-- card -->
</aside>
{{- end -}}