{{- if isset .context.Site.Taxonomies "categories" -}}
    {{- if not (eq (len .context.Site.Taxonomies.categories) 0) -}}
<aside class="col widget widget-categories">
    <div class="card h-100">
        <div class="card-body">
            <h3 class="card-title">{{- i18n "categories" -}}</h3>
            <ul class="card-text">
                {{- range .context.Site.Taxonomies.categories }}
                <li>
                    <a href="{{ .Page.Permalink }}" title="{{- .Page.Title -}} ({{ .Count }})" >{{- .Page.Title -}}</a>
                </li>
                {{ end -}}
            </ul>
        </div><!-- card-body -->
    </div><!-- card -->
</aside>
    {{- end -}}
{{- end -}}


