{{- if ne .Type "sitepages" -}}
    {{ $related := first (.context.Site.Params.RelatedPosts | default 5) (.context.Site.RegularPages.RelatedIndices .context "tags" "date") -}}
    {{- with $related -}}
    <aside class="col widget widget-related-posts">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title">{{- i18n "related-posts" -}}</h3>
                <ul class="card-text">
                    {{ range . }}
                    <li><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div><!-- card-body -->
        </div><!-- card -->
    </aside>
    {{- end -}}
{{- end -}}