
{{- $context := .context -}}
{{- $series := .context.GetTerms "series" -}}
{{- if ge (len $series) 1 -}}
<aside class="col widget widget-same-series">
    <div class="card h-100">
        <div class="card-body">
            <h3 class="card-title">{{- i18n "same-series" (len $series) -}}</h3>
            {{/*- with $series -*/}}
                {{- range $series -}}
                    {{- if gt (len $series) 1 -}}<p>{{- .Title -}}</p>{{- end -}}
                <ul class="card-text">
                    {{- range .Pages -}}
                        {{- if eq $context . }}
                        <li><strong>{{ .Title }}</strong></li>
                        {{- else -}}
                        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{- end -}}
                    {{- end -}}
                </ul>
                {{- end -}}
        </div><!-- card-body -->
    </div><!-- card -->
</aside>
{{- end -}}
