{{- if isset .context.Site.Taxonomies "series" -}}
    {{- if not (eq (len .context.Site.Taxonomies.tags) 0) -}}
    <aside class="col widget widget-series">
        <h3>{{- i18n "series" -}}</h3>
        <ul>
            {{- $nb_series := 4 -}}
            {{- range .context.Site.Taxonomies.series -}}
                {{- if gt $nb_series 0 }}
                    <li><a href="{{- .Page.Permalink -}}" title="{{- .Page.Description -}}">{{- .Page.Title -}}</a> ({{- .Count -}})</li>
                    {{- $nb_series = sub $nb_series 1 -}}
                {{- end -}}
            {{- end -}}
            {{ with .context.Site.GetPage "series" -}}
            <li><a href="{{- .RelPermalink -}}" title="{{- i18n "see-all-series" -}}">{{- i18n "all-series" -}}</a></li>
            {{- end }}
        </ul>
    </aside>
    {{- end -}}
{{- end -}}
