{{- if isset .context.Site.Taxonomies "tags" -}}
    {{- if not (eq (len .context.Site.Taxonomies.tags) 0) -}}
<aside class="col widget widget-tags">
    <div class="widget-inner">
        <h3>{{- i18n "tags" (len .context.Site.Taxonomies.tags) -}}</h3>
        <ul>
            {{- range .context.Site.Taxonomies.tags }}
            <li>
                <a href="{{ .Page.Permalink }}" title="{{- .Page.Title -}} ({{ .Count }})" >{{- humanize .Page.Title -}}</a>
            </li>
            {{ end -}}
        </ul>
    </div><!-- inner -->
</aside>
    {{- end -}}
{{- end -}}


