<!doctype html>
<html class="no-js" lang="{{- $.Site.LanguageCode | default "en" -}}">
    <head>
        <meta charset="utf-8">
        <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');</script>
        {{- partial "head.html" . -}}
    </head>
    {{- $class :="post-list" -}}
    {{- if .IsHome -}}
        {{- $class = "post-home" -}}
    {{- else if and (in (slice "page" "404") .Kind ) (ne .Layout "search" ) -}}
        {{- $class = "post-single" -}}
    {{- end -}}
    {{- if (eq "taxonomy" .Kind ) -}}
        {{- $class = printf "%s post-%s" $class .Data.Plural -}}
    {{- else if (eq "term" .Kind ) -}}
        {{- $class = printf "%s post-%s" $class .Data.Singular -}}
    {{- end -}}
    {{- .Scratch.Set "paginator" .Paginator -}}
    <body class="{{- .Kind }} {{ $class }} {{ with .Layout -}}{{- . -}}-page{{- end -}}">
        {{- if or (not .Site.IsServer) .Site.Params.TestTAC -}}
            {{- if and (isset .Site.Params.Services "piwikpro") (.Site.Params.Services.piwikpro) -}}{{- partialCached "piwikpro.html" . -}}{{- end -}}
        {{- end -}}
        {{- partialCached "navigation.html" . .Section -}}
        <header id="page-header" class="mb-4">
            {{- block "header" . -}}{{- end -}}
        </header>
        <main role="main" id="page-content">
            {{- block "main" . -}}{{- end -}}
        </main>
        <footer id="page-footer">
            {{- partialCached "footer.html" . -}}
        </footer>
        {{- partialCached "js.html" . .Layout -}}
    </body>
</html>