{{- define "header" -}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 id="page-title" class="mb-5">{{ .Site.Title  | markdownify }}</h1>
        </div><!-- col -->
    </div><!-- row -->
</div><!-- container -->
{{- end -}}
{{- define "main" -}}
    <div class="container">
    {{- if .Content -}}
        <section class="home-section mb-7 home-edito row">
            <div class="col ">
                <h2>{{- .Title -}}</h2>
                {{- .Content -}}
                <p class="text-right">{{- .Params.Author }} ({{ .Params.Date | time.Format (.Site.Params.FormatDate | default "2-Jan-2006") -}})</p>
            </div>
        </section><!-- row -->
    {{- end -}}

    {{- if .Site.Data.homepage -}}
        {{- range $name, $content := (sort .Site.Data.homepage "weight" "desc" ) -}}
            {{/* ----------------------------- */}}
            {{/* --- Section List ------------ */}}
            {{/* ----------------------------- */}}
            {{- if eq $content.block "list" -}}
                {{- if gt (len $content.items) 0 -}}
                <section class="home-section mb-7 {{ $content.block -}}" id="{{- $name | anchorize -}}">
                    {{- with $content.title -}}
                    <div class="row">
                        <div class="col">
                            <h2>{{- . -}}</h2>
                            {{- with $content.subtitle -}}
                            <p class="subtitle">
                                {{- . | markdownify -}}
                            </p>
                            {{- end -}}
                        </div><!-- col -->
                    </div><!-- row -->
                    {{- end -}}
                    {{- $class := partialCached "class-columns.html" $content.columns -}}
                    <div class="g-4 {{ $class -}}">
                        {{- range $content.items -}}
                        <div class="col home-widget">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h3 class="card-title">{{- .title -}}</h3>
                                    <div class="card-text">
                                        <p>{{- .text | markdownify -}}</p>
                                        {{- if .button -}}
                                            <a href="{{- .link }}" class="btn btn-outline-primary btn-sm ">{{- .button -}}</a>
                                        {{- end -}}
                                    </div><!-- card-text -->
                                </div><!-- card-body -->
                            </div><!-- card -->
                        </div><!-- col -->
                        {{- end -}}
                    </div><!-- row -->
                </section>
                {{- end -}}
            {{- else if eq $content.block "content" -}}
            {{/* ----------------------------- */}}
            {{/* --- Section content --------- */}}
            {{/* ----------------------------- */}}
                {{- with $.Site.GetPage $content.post -}}
                <section class="home-section mb-7 {{ $content.block -}}" id="{{- $name | anchorize -}}">
                    <div class="row">
                        <div class="col">
                            <h2>{{- .Title -}}</h2>
                            <p>{{ .Content }}</p>
                            <p class="text-right">{{- .Params.Author }} ({{ .Params.Date | time.Format (.Site.Params.FormatDate | default "2-Jan-2006") -}})</p>
                        </div>
                    </div>
                </section>
                {{- end -}}
            {{- else if eq $content.block "featured" -}}
            {{/* --------------------------------- */}}
            {{/* --- Section Featured ------------ */}}
            {{/* --------------------------------- */}}
                {{- $feature_posts := ( where site.RegularPages "Params.featured" true) -}}
                {{- $class := "" -}}
                {{- $title := $content.single | default (i18n "featured-posts" (len $feature_posts)) -}}
                {{- if gt (len $feature_posts) 0 -}}
                    {{- if gt (len $feature_posts) 1 -}}
                        {{- $class = partialCached "class-columns.html" $content.columns -}}
                        {{- $title = $content.plural | default (i18n "featured-posts" (len $feature_posts)) -}}
                    {{- end -}}
                    <section class="home-section mb-7 {{ $content.block -}}" id="{{- $name | anchorize -}}">
                        <div class="row">
                            <div class="col">
                                <h2>{{- $title -}}</h2>
                                {{- with $content.subtitle -}}<p class="subtitle">{{- . | markdownify -}}{{- end -}}</p>
                            </div>
                        </div>
                        <div class="row {{ $class -}}">
                            {{- range $feature_posts -}}
                            <div class="col featured home-widget">
                                <h3><a href="{{- .RelPermalink -}}" rel="bookmark">{{- .Title -}}</a></h3>
                                {{- if $content.meta -}}
                                    {{- partial "meta.html" (dict "context" . "kind" .Kind "prm" $content.meta) -}}
                                {{- end -}}
                                <p>{{ .Summary }}</p>
                                <a href="{{- .RelPermalink -}}" class="btn btn-outline-secondary btn-sm" role="button">
                                    {{- i18n "more" -}}<span class="visually-hidden"> {{- .Title -}}</span>
                                </a>
                            </div><!-- col -->
                            {{- end -}}
                        </div><!-- row -->
                    </section>
                {{- end -}}
            {{- else if eq $content.block "lastposts" -}}
            {{/* ----------------------------------- */}}
            {{/* --- Section Last posts ------------ */}}
            {{/* ----------------------------------- */}}
                {{- $posts_list := (where site.RegularPages "Type" "in" $.Site.Params.MainSections | first ($content.number | default 6)) -}}
                {{- if gt (len $posts_list) 0 -}}
                <section class="home-section mb-7 {{ $content.block -}}" id="{{- $name | anchorize -}}">
                    <div class="row">
                        <div class="col">
                            <h2>{{- i18n "last-posts" -}}</h2>
                            {{- with $content.subtitle -}}<p class="subtitle">{{- . | markdownify -}}</p>{{- end -}}
                        </div>
                    </div>
                    {{- $class := partialCached "class-columns.html" $content.columns -}}          
                    <div class="{{ $class -}}">
                        {{- range $posts_list -}}
                        <article class="col post mb-6 home-widget">
                            <header class="post-header mb-3">
                                <h3 class="post-title"><a href="{{- .RelPermalink -}}" rel="bookmark">{{- .Title -}}</a></h3>
                                {{- if $content.meta -}}
                                    {{- partial "meta.html" (dict "context" . "kind" .Kind "prm" $content.meta) -}}
                                {{- end -}}
                            </header>
                            {{- $summary_text := .Description | safeHTML -}}
                            {{- if .Summary -}}{{- $summary_text = .Summary | safeHTML -}}{{- end -}}
                            <div class="post-summary">
                                {{- with $summary_text -}}
                                    {{- if (findRE "^(<p>)" . 1) -}}
                                        {{- . -}}
                                    {{- else -}}
                                        <p>{{- . -}}</p>
                                    {{- end -}}
                                {{- end -}}
                            </div>
                            <footer class="post-footer">
                                <a href="{{- .RelPermalink -}}" class="btn btn-outline-primary btn-sm" role="button">
                                    {{- i18n "more" -}}<span class="visually-hidden"> {{- .Title -}}</span>
                                </a>
                            </footer>
                        </article>
                        {{- end -}} 
                    </div>
                </section>
                {{- end -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
    </div><!-- container -->
{{- end -}}