{{- define "header" -}}
<div class="container">
    <div class="row">
        <div class="col">
            {{- partial "breadcrumb.html" . -}}
            <h1 id="page-title">{{ .Title  | markdownify }}</h1>
        </div><!-- col -->
    </div><!-- row -->
</div><!-- container -->
{{- end -}}
{{- define "main" -}}
<div class="container">
    {{- $context := . -}}
    <article class="post row row-cols-1">
        {{- if and (ne .Type "sitepages") (isset .Site.Params.Single "metatop") -}}
        <div class="col post-header">
            {{- partial "meta" (dict "context" $context "kindstr" .Kind "prm" .Site.Params.Single.MetaTop "class" "meta-top") -}}
        </div><!-- post-header -->
        {{- end -}}
        <div class="col post-content">
            {{- .Content -}}
        </div>
        {{- if and (ne .Type "sitepages") (isset .Site.Params.Single "metabottom") -}}
        <div class="col post-footer">
            {{- partial "meta" (dict "context" $context "kindstr" .Kind "prm" .Site.Params.Single.MetaBottom "class" "meta-bottom") -}}
        </div><!-- post-footer -->
        {{- end -}}
    </article>
    {{- if .Site.Params.Single.Widgets -}}
        {{- $columns := $.Site.Params.Single.bottomcolumns | default (dict "sm" 1 "md" 1 "lg" 2 "xl" 2) -}}
        {{- $class := partial "class-columns.html" $columns -}}
    <div class="post-bottom g-4 {{ $class -}}">
        {{- range sort .Site.Params.Single.Widgets "weight" -}}
            {{- partial (printf "widgets/%s.html" .type) (dict "context" $context "param" .params) -}}
        {{- end -}}
    </div><!-- row post-bottom -->
    {{- end -}}
    {{- partial "pagination-single.html" . -}}
</div><!-- container -->
{{- end -}}