{{- define "header" -}}
<div class="container">
    <div class="row">
        <div class="col">
            {{- partial "breadcrumb.html" . -}}
            <h1 id="page-title" class="mb-3">{{ .Title  | markdownify }}</h1>
        </div><!-- col -->
    </div><!-- row -->
</div><!-- container -->
{{- end -}}
{{- define "main" -}}
<div class="container">
    {{- $context := . -}}
    <article class="post mb-6 row row-cols-1">
        {{- if and (isset .Params "images") (.Site.Params.Single.displayimage | default false) -}}
            {{- partial "image.html" (dict "context" . "src" .Params.Images "link" false "class" "center post-img") -}}
        {{- end -}}
        {{- if and (ne .Type "sitepages") (isset .Site.Params.Single "metatop") -}}
        <div class="col post-header mb-5">
            {{- partial "meta" (dict "context" $context "kindstr" .Kind "prm" .Site.Params.Single.MetaTop "class" "meta-top") -}}
        </div><!-- post-header -->
        {{- end -}}
        <div class="col post-content mb-4">
            {{- if or (.Params.Toc | default false) (.Site.Params.Single.TableOfContents | default false ) -}}
            <aside class="card toc mb-3">
                <div class="card-header">
                    {{- i18n "toc" -}}
                </div>
                <div class="card-body">
                    {{- .TableOfContents -}}
                </div>
            </aside>
            {{- end -}}
            {{- .Content }}
        </div>
        {{- if and (ne .Type "sitepages") (isset .Site.Params.Single "metabottom") -}}
        <div class="col post-footer">
            {{- partial "meta" (dict "context" $context "kindstr" .Kind "prm" .Site.Params.Single.MetaBottom "class" "meta-bottom") -}}
        </div><!-- post-footer -->
        {{- end -}}
    </article>
    {{- if .Site.Params.Single.Widgets -}}
        {{- $columns := $.Site.Params.Single.bottomcolumns | default (dict "sm" 1 "md" 1 "lg" 2 "xl" 2) -}}
        {{- $class := partial "class-columns.html" $columns -}}
    <div class="post-bottom mb-6 g-4 {{ $class -}}">
        {{- range sort .Site.Params.Single.Widgets "weight" -}}
            {{- partial (printf "widgets/%s.html" .type) (dict "context" $context "param" .params) -}}
        {{- end -}}
    </div><!-- row post-bottom -->
    {{- end -}}
    {{- if (.Scratch.Get "ads_enable") -}}
    <div class="row">
        <div class="col">
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="{{- $.Site.Params.adClient -}}"
                data-ad-slot="{{- $.Site.Params.adSingleBottom -}}"
                data-ad-format="auto"
                data-full-width-responsive="true">
            </ins>
        </div>
    </div>
    {{- end -}}
    {{- partial "pagination-single.html" . -}}
</div><!-- container -->
{{- end -}}