{{- define "header" -}}
<div class="container">
    <div class="row">
        <div class="col">
            {{- partial "breadcrumb.html" . -}}
            <h1 id="page-title">{{ .Title  | markdownify }}</h1>
        </div><!-- col -->
    </div><!-- row -->
</div><!-- container -->
{{- end -}}
{{- define "main" -}}
<div class="container">
    <article class="row row-cols-1">
        {{- if ne .Type "sitepages" -}}
        <div class="col post-header">
            {{- partial "meta" (dict "context" . "kindstr" .Kind "prm" .Site.Params.metasingletop "class" "meta-top") -}}
        </div><!-- post-header -->
        {{- end -}}
        <div class="col post-content">
            {{- .Content -}}
        </div>
        {{- if ne .Type "sitepages" -}}
        <div class="col post-footer">
            {{- partial "meta" (dict "context" . "kindstr" .Kind "prm" .Site.Params.metasinglebottom "class" "meta-bottom") -}}
        </div><!-- post-footer -->
        {{- end -}}
    </article>        
    {{- if ne .Type "sitepages" -}}
        {{- partial "share-links.html" . -}}
        {{- with .GetTerms "authors" -}}
            {{- partial "authors" . -}}
        {{- end -}}
    <div class="row">
        <div class="col">
            {{- $series := .GetTerms "series" -}}
            {{- if ge (len $series) 1 -}}
                {{- partialCached "same-series.html" . $series -}}
            {{- else -}}
                {{- partial "related-posts.html" . -}}
            {{- end -}}    
        </div><!-- col -->
    </div><!-- rows -->
    {{- partial "pagination-single.html" . -}}
    {{- end -}}
</div><!-- container -->
{{- end -}}