@import "bootstrap-5.0.1/scss/functions";

$primary:         #305F72; /* 446084 */
$secondary:       #BA5A31;

$theme-colors: (
   "primary":    $primary,
   "secondary":  $secondary
);

$enable-reduced-motion:       false !default;
$enable-smooth-scroll:        false !default;
$enable-button-pointers:      false !default;
$enable-rfs:                  false !default;
$enable-validation-icons:     false !default;
$enable-deprecation-messages: false !default;
$enable-important-utilities:  false !default;

$link-hover-color:            $secondary;
$link-hover-decoration:       none;

$grid-gutter-width:           2rem !default;

$font-family-sans-serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif!default;
$font-size-base:              1.125rem;
$font-size-lg:                $font-size-base * 1.11111111;
$small-font-size:             0.88888em;
$h1-font-size:                $font-size-base * 2; 
$h2-font-size:                $font-size-base * 1.7777778;
$h3-font-size:                $font-size-base * 1.3333334;
$h4-font-size:                $font-size-base * 1.1111111; 
$h5-font-size:                $font-size-base * 1; 

//  Breadcrumbs
$breadcrumb-padding-y:              1rem;
$breadcrumb-margin-bottom:          0;

@import "bootstrap-5.0.1/scss/variables";
@import "bootstrap-5.0.1/scss/utilities";

$container-max-widths: map-remove($container-max-widths,
    "xxl"
);

$theme-colors: map-remove($theme-colors,
  "success",
  "info",
  "warning",
  "danger",
  "light",
  "dark"
);

$utilities: map-remove($utilities,
"align",
"float",
"overflow",
/*"display",*/
"shadow",
"position",
"top",
"bottom",
"start",
"end",
"translate-middle",
"border",
"border-top",
"border-end",
"border-bottom",
"border-start",
"border-color",
"border-width",
"width",
"max-width",
"viewport-width",
"min-viewport-width",
/*"height",*/
"max-height",
"viewport-height",
"min-viewport-height",
"flex",
"flex-direction",
"flex-grow",
"flex-shrink",
"flex-wrap",
"gap",
"justify-content",
"align-items",
"align-content",
"align-self",
"order",
"margin",
"margin-x",
"margin-y",
"margin-top",
"margin-end",
"margin-bottom",
/*"margin-start",*/
"negative-margin",
"negative-margin-x",
"negative-margin-y",
"negative-margin-top",
"negative-margin-end",
"negative-margin-bottom",
"negative-margin-start",
"padding",
"padding-x",
"padding-y",
"padding-top",
"padding-end",
"padding-bottom",
"padding-start",
"font-family",
"font-size",
"font-style",
"font-weight",
"line-height",
"text-align",
"text-decoration",
"text-transform",
"white-space",
"word-wrap",
"color",
/*"background-color",*/
"gradient",
"user-select",
"pointer-events",
"rounded",
"rounded-top",
"rounded-end",
"rounded-bottom",
"rounded-start" /*,
"visibility" */
);

@import "bootstrap-5.0.1/scss/mixins";

@import "bootstrap-5.0.1/scss/root";
@import "bootstrap-5.0.1/scss/reboot";

// @import "bootstrap-5.0.1/scss/type";
// @import "bootstrap-5.0.1/scss/images";
@import "bootstrap-5.0.1/scss/containers";
@import "bootstrap-5.0.1/scss/grid";

// @import "bootstrap-5.0.1/scss/accordion";
// @import "bootstrap-5.0.1/scss/alert";
@import "bootstrap-5.0.1/scss/badge";
@import "bootstrap-5.0.1/scss/breadcrumb";
// @import "bootstrap-5.0.1/scss/button-group";
@import "bootstrap-5.0.1/scss/buttons";
@import "bootstrap-5.0.1/scss/card";
// @import "bootstrap-5.0.1/scss/carousel";
// @import "bootstrap-5.0.1/scss/close";
// @import "bootstrap-5.0.1/scss/dropdown";
@import "bootstrap-5.0.1/scss/forms";
// @import "bootstrap-5.0.1/scss/helpers";
// @import "bootstrap-5.0.1/scss/list-group";
// @import "bootstrap-5.0.1/scss/modal";
@import "bootstrap-5.0.1/scss/nav";
@import "bootstrap-5.0.1/scss/navbar";
// @import "bootstrap-5.0.1/scss/offcanvas";
@import "bootstrap-5.0.1/scss/pagination";
// @import "bootstrap-5.0.1/scss/popover";
// @import "bootstrap-5.0.1/scss/progress";
// @import "bootstrap-5.0.1/scss/spinners";
@import "bootstrap-5.0.1/scss/tables";
// @import "bootstrap-5.0.1/scss/toasts";
// @import "bootstrap-5.0.1/scss/tooltip";
@import "bootstrap-5.0.1/scss/transitions";
// @import "bootstrap-5.0.1/scss/forms/floating-labels";
// @import "bootstrap-5.0.1/scss/forms/form-check";
// @import "bootstrap-5.0.1/scss/forms/form-control";
// @import "bootstrap-5.0.1/scss/forms/form-range";
// @import "bootstrap-5.0.1/scss/forms/form-select";
// @import "bootstrap-5.0.1/scss/forms/form-text";
// @import "bootstrap-5.0.1/scss/forms/input-group";
// @import "bootstrap-5.0.1/scss/forms/labels";
// @import "bootstrap-5.0.1/scss/forms/validation";
// @import "bootstrap-5.0.1/scss/helpers/clearfix";
// @import "bootstrap-5.0.1/scss/helpers/colored-links";
@import "bootstrap-5.0.1/scss/helpers/position";
// @import "bootstrap-5.0.1/scss/helpers/ratio";
// @import "bootstrap-5.0.1/scss/helpers/stretched-link";
// @import "bootstrap-5.0.1/scss/helpers/text-truncation";
@import "bootstrap-5.0.1/scss/helpers/visually-hidden";
@import "bootstrap-5.0.1/scss/utilities/api";
// @import "bootstrap-5.0.1/scss/vendor/rfs";