@use "sass:map";

@import "custom";

$fa-font-path: "../webfonts";
@import "fontawesome-free-5.15.2-web/scss/fontawesome";
@import "fontawesome-free-5.15.2-web/scss/solid";
// @import "fontawesome-free-5.15.2-web/scss/regular";
@import "fontawesome-free-5.15.2-web/scss/brands";


// ----------------------------------------------
// --- General rules
// ----------------------------------------------
.me-auto {
    margin-right: auto !important;
}

.justify-content-center {
    justify-content: center !important;
}

div > code {
    background-color: #ddd;
    border-radius: 0.3rem;
    padding: 0px 4px 2px 4px;
}

.text-center {
    text-align: center;
}

i.fas, i.fab {
    color: $gray-600;
}

// ----------------------------------------------
// --- Rules for the header
// ----------------------------------------------
#main-menu {
    background-color: white;
    border-bottom: 1px solid $gray-300;
}

.small .site-brand-logo {
    width: 45px;
    height: 45px;
}

.site-brand-logo {
    width: 100%;
    transition: 0.4s;
}

.nav-link {
    font-size: 1.1111111111111em;
    font-variant: small-caps;
}
/*
#page-title {
    margin-bottom: 1rem;
}
*/
#page-header {
    /* margin-bottom: 2rem;*/

    background-color: $gray-100;
    border-bottom: 1px solid $gray-300;
}

// ----------------------------------------------
// --- Rules common to post list, and post single
// ----------------------------------------------
.post-meta {
    padding-left: 0;
    /* margin-bottom: 0; */
    list-style-type: none;

    li {
        display: inline-block;
        white-space: nowrap;

        &:after {
            content: "\2002\2022\2002";
        }

        &:last-child:after {
            content: "";
        }
    }
}


// ----------------------------------------------
// --- Rules for the posts list
// ----------------------------------------------

.post-list {

    .post {
        /* margin-bottom: 4rem; */
        border: 0;
    }

    .post-title a {
        text-decoration: none;

        &:hover {
            color: $secondary;
        }
    }
/*
    .post-header {
        margin-bottom: 1em;
    }

    .page-introduction {
        margin-bottom: 2rem;
    }
*/

    .page-introduction,
    .post-summary {
        text-align: justify;
    }

    .featured {
        border: 1px solid $gray-500;
        background-color: $gray-100;
    }

    .featured-post {
        color: red;
    }
}

// ----------------------------------------------
// --- Rules for the post single
// ----------------------------------------------

.post-single {
    .post-content {
        text-align: justify;

        h2 {
            margin-top: 3rem;
            margin-bottom: 2rem;
            color: $primary;
        }

        h3 {
            margin-top: 2rem;
            margin-bottom: 1rem;
            color: $secondary;
        }
    }

    /*.post-meta,
    .post-content  {
        margin-bottom: 2em;
    }*/

    /*
    .post {
        margin-bottom: 3em;
    }
    */
}

#TableOfContents {
    font-size: 1rem;
    line-height: 1.3;
    text-align: left;
}

@media (min-width: map-get($grid-breakpoints, "md")) {
    .toc {
        float: right;
        display: block;
        width: 50%;
        margin-left: 1em;
    }

}

// ----------------------------------------------
// --- Rules for images, figures, and galleries
// ----------------------------------------------

img {
	max-width: 100%;
	height: auto;
}

.figure-img {
	display: inline-block;
	margin-bottom: 2 * $spacer;
}

.figure-center {
	display: block!important;
	text-align: center;
}

figcaption {
	font-size: $font-size-sm;
	font-style: italic;
}

.thumbnail {
	margin-bottom: 1.25 * $spacer;
}

.thumbnail img {
	padding: 0.5rem;
	border: 1px solid $gray-500;
}

@media (min-width: map-get($grid-breakpoints, "sm")) {
	.thumbnail {
		margin-bottom: 1.5 * $spacer;

		img {
			padding: 0.75rem;
		}
	}
}

@media (min-width: map-get($grid-breakpoints, "md")) {
	.thumbnail {
		margin-bottom: 2 * $spacer;

		img {
			padding: 1rem;
		}
	}
}

@media (min-width: map-get($grid-breakpoints, "lg")) {
	.thumbnail img {
		padding: 1.5rem;
	}
}


// ----------------------------------------------
// --- Tables
// ----------------------------------------------
.table {
    margin-bottom: 3 * $spacer;
}

// -------------------------------------------------------
// --- Rules for blockquote
// -------------------------------------------------------

blockquote {
    position: relative;

    border-top: 1px solid $gray-300;
    border-bottom: 1px solid $gray-300;
    background-color: $gray-100;
    margin-left: auto;
    margin-right: auto;

    p {
        padding: 1rem 4rem 0 1rem;
    }

	&:before {
		/* display: inline-block;*/
		color: $gray-400;
		font-family: "Font Awesome 5 Free";
		font-size: 1.5 * $font-size-base;
		font-weight: 900;
		-webkit-font-smoothing: antialiased;

		position: absolute;
        top: 0.5rem;
        right: 1rem;

		content: "\f10d";
	}
}

blockquote.success {
	background-color: #d1e7dd;
	border-color: #badbcc;

	&:before {
		content: "\f14a";
        color: #badbcc;
	}
}

blockquote.warning {
    background-color: #fff3cd;
	border-color: #ffecb5;

	&:before {
		content: "\f071";
        color: #ffecb5;
	}
}

blockquote.error {
	background-color: #f8d7da;
	border-color: #f5c2c7;

	&:before {
		content: "\f00d";
        color: #f5c2c7;
	}
}

blockquote.info {
	background-color: #cfe2ff;
    border-color: #b6d4fe;

	&:before {
		content: "\f05a";  // f06a
        color: #b6d4fe;
	}
}

blockquote.question {
	background-color: #cff4fc;
	border-color: #b6effb;

	&:before {
		content: "\f059";
        color: #b6effb;
	}
}

@media (min-width: map-get($grid-breakpoints, "sm")) {

    blockquote {
        width: 95%;
    }
}

@media (min-width: map-get($grid-breakpoints, "md")) {

    blockquote {
        width: 90%;
    }
}

@media (min-width: map-get($grid-breakpoints, "lg")) {

    blockquote {
        width: 85%;
    }
}

// ----------------------------------------------
// --- Widgets
// ----------------------------------------------

.post-bottom {

    /*margin-bottom: 3rem;*/

    .card {
        background-color: $gray-100;
    }

    .card-title {
        font-size   : 1.33333334 * $font-size-base;
        color       : $primary;
        margin-bottom: $spacer;
    }
}

.widget-share-links,
.widget-follow {

    a {
        text-decoration: none;
    }

    a:hover i {
        color: $secondary;
    }

    ul {
        margin-bottom: 0;
        padding-left: 0;
        list-style-type: none;
    }

    li {
        display: inline;
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }
}
/*
.author-name {
    margin-bottom: 0;
}
*/
.author-socials {
    list-style-type: none;
    /* margin-bottom: 0; */
    padding-left: 0;

    li {
        display: inline-block;
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }
}

.tags-cloud a {
    margin-left: 2rem;
    &:last-child {
        margin-left: 0;
    }
}

// ----------------------------------------------
// --- Footnotes
// ----------------------------------------------
.footnotes p {
    margin-bottom: 0;
}

// ----------------------------------------------
// --- Rules for the homepage
// ----------------------------------------------

.post-home {
    #page-title {
       margin-top: 2rem;
        /* margin-bottom: 2rem; */
    }

    h2 {
        background-color: $gray-100;
        border: 1px solid $gray-300;
        padding: 1rem;
        margin-bottom: 1rem;
    }
/*
    .post {
        margin-bottom: 3rem;
    }*/
}

.home-edito {
    text-align: justify;
}

/*
.home-section {
    margin-bottom: 4rem;
}
*/

// ----------------------------------------------
// --- contact form
// ----------------------------------------------
/* 
#contact-form .form-group {
    margin-bottom: 1em;
}
*/

#contact-form .contact-button {
    margin-top: 1.5em;
}

// ----------------------------------------------
// --- Footer
// ----------------------------------------------

#page-content {
    padding-bottom: 3rem;
    border-bottom: 1px solid $gray-300;
}

.footer-search {
    background-color: $gray-100;
    border-bottom: 1px solid $gray-300;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer-search .col {
    text-align: center;
}

.footer-search .row {
    position: relative;
}

#search-form .fa-search,
.footer-search .fa-search {
    color: $gray-200;
}
/*
#search-results h2 {
    margin-bottom: 3rem;
}
*/
.button-up {
    position: absolute;
    right: 30px;
    top: 0px;
}

.col-form-label {
    text-align: right;
}

.footer-middle {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $gray-300;
}

.footer-bottom {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

// ----------------------------------------------
// --- Rules for the search result pages
// ----------------------------------------------
.search-page {
/*
    #search-form {
        margin-bottom: 4rem;
    }
*/
    h2 {
        color: $secondary;
    }
/*
    .post {
        margin-bottom: 4rem;
    }
*/
}

// ----------------------------------------------
// --- Icons for the attachment shortcode
// ----------------------------------------------
@import "iconizr-svg-sprite.scss";

// ----------------------------------------------
// --- Simple lightbox
// ----------------------------------------------
$sl-font-family: Arial, sans-serif;
$sl-overlay-background: #000; /* #fff; */
$sl-overlay-opacity: 0.7;
$sl-navigation-color: #000;
$sl-caption-color: #fff;
$sl-caption-background: rgba(0, 0, 0, 0.3);

$sl-counter-fontsize: 1rem;
$sl-caption-fontsize: 1rem;
$sl-close-fontsize: 3rem;

$sl-breakpoint-medium: 48em; // initial values 568px, when 1rem == 16px
$sl-breakpoint-large:  62em;   // initial values 800px, when 1rem == 16px

$sl-arrow-fontsize-small:  2rem;
$sl-arrow-fontsize-medium: 3rem;
$sl-arrow-fontsize-large:  3rem;
$sl-img-border-small:  0 none;
$sl-img-border-medium: 0 none;
$sl-img-border-large:  0 none;
$sl-iframe-border-small:  0 none;
$sl-iframe-border-medium: 0 none;
$sl-iframe-border-large:  0 none;

$add-vendor-prefixes: true !default;
@import "simple-lightbox/simple-lightbox.scss";
@import "chroma/syntax_manni.scss";
@import "tarteaucitron.scss";

.tarteaucitronAlertBigBottom {
    background: #666!important;
}

#tarteaucitronAlertBig .tarteaucitronAllow {
    background-color: $primary!important;
}

#tarteaucitronAlertBig .tarteaucitronDeny {
    background-color: $secondary!important;
}

@media print {

    #main-menu, #posts-comments, .breadcrumb, #page-top, .footer-search, .footer-middle, .widget-share-links, .nav-pagination {
        display: none;
    }

    * {
        color: #000;    
        background-color: #fff;
    }

    body {
        font-size: 1rem !important;
        line-height: 1.5 !important;
    }

    a:after {
        content: "( "attr(href)" )"
    }
}