<!-- -------------------------------- -->
<!-- Footer top (search bar)          -->
<!-- -------------------------------- -->
<div class="footer-search">
    <div class="container">
        <a class="button-up" href="#page-top" title="{{- i18n "move-top" -}}">
            <i class="fas fa-arrow-alt-circle-up"></i> <span class="visually-hidden">{{- i18n "move-top" -}}</span>
        </a>
        <form action="/search/" method="GET" class="row g-2 justify-content-center">
            <label for="search-query" class="col-form-label col-auto d-none d-md-inline">{{-  i18n "search" -}}</label>
            <div class="col-auto">
                <input type="text" class="form-control" id="search-query" name="s" >
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <span class="visually-hidden">{{- i18n "search" -}}</span>
                </button>
            </div><!-- col -->
        </form>
    </div><!-- container -->
</div><!-- footer-seach -->
    <!-- -------------------------------- -->
    <!-- Footer middle (widgets)          -->
    <!-- -------------------------------- -->
    {{- $columns := .Site.Params.FooterWidgets.Columns | default ( slice 1 1 1 2 2 ) -}}
    {{- $class := partialCached "class-columns.html" $columns -}}
    {{- $context := . -}}
    {{- if .Site.Params.FooterWidgets.Widgets -}}
<div class="footer-middle">
    <div class="container">
        <div class="{{- $class -}}">
            {{- range sort .Site.Params.FooterWidgets.Widgets "order" -}}
                {{- partialCached (printf "widgets/%s.html" .type) (dict "context" $context "param" .params) -}}
            {{- end -}}
        </div><!-- row -->
    </div><!-- container -->
</div>
    {{- end -}}

    <!-- -------------------------------- -->
    <!-- Footer bottom (legals)           -->
    <!-- -------------------------------- -->
<div class="footer-bottom">
    <div class="container">
        <div class="row row-cols-1">
            <div class="col">
                <span class="d-none d-md-inline">Copyright</span>
                &copy; {{ printf "%s-%s - %s" .Site.Params.Copyright.FirstDate (now.Format "2006") (.Site.Params.Copyright.Attribution  | markdownify) -}}
            </div><!-- col -->
            <div class="col">
                <span class="d-none d-md-inline">{{- .Site.Params.Copyright.SentenceFull | markdownify -}}</span>
                <span class="d-md-none">{{- .Site.Params.Copyright.SentenceSmall | markdownify -}}</span>
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
</div>
