{{/* Parameters    */}}
{{/*   class         string  class of the figure (default: ) */}}
{{/*   src           string  relative path to the image (default: none, value mandatory) */}}
{{/*   alt           string  alternative string (default: ) */}}
{{/*   title         string  title of the tag <img> (default: ) */}}
{{/*   caption       string  caption to be put in the <figcaption> (default: ) */}}
{{/*   classcaption  string  class of the tag <figcaption> (default: ) */}}
{{/*   link          boolean force a link  */}}
{{/* Get the image (assumption: we are in a page bundle) */}}
{{- $src := .context.Page.Resources.GetMatch ( index .src 0 ) -}}
{{- if $src -}}
    {{- $imgpath := (path.Join "/content" .context.RelPermalink .src) -}}
    {{/* Get the size of the image */}}
    {{/* pipe printf to be replaced by path.join .Site.contentDir relPermalink */}}
    {{- $link     := .link  | default true -}}
    {{- $details  := imageConfig ($imgpath) -}}
    {{- $width    := strings.TrimSuffix "px" $details.Width  -}}
    {{- $height   := strings.TrimSuffix "px" $details.Height -}}
    {{- $largew   := "992" -}}
    {{- $largeImg := $src.Resize ( printf "%sx" $largew  ) -}}
    {{- $largeh   := div ( mul (int $height) (int $largew) ) (int $width) -}}
    <figure {{ with .class }}class="figure-img figure-{{- . -}}"{{- end -}}>
        {{- if  and (gt $width $largew) (eq $link true) -}}
            <a href="{{ $src.RelPermalink }}" data-lightbox="{{ path.Base $src }}" data-title="{{- with .title -}}{{- . -}}{{- else -}}{{- .caption | markdownify| plainify -}}{{- end -}}">
                {{- partial "respimg.html" ( dict "p" . "src" $src "largsrc" $largeImg "w" $largew "h" $largeh ) -}}
            </a>
        {{- else -}}
            {{- template "respimg.html" ( dict "p" . "src" $src "largsrc" $src "w" $width "h" $height ) -}}
        {{ end }}
        {{- if or ( .title) ( .caption ) -}}
        <figcaption class="figure-caption{{- with .classcaption -}}  caption-{{- . -}}{{- end -}}">{{- with .caption -}}{{- . -}}{{- else -}}{{- .title | markdownify| plainify -}}{{- end -}}</figcaption>
        {{- end -}}
    </figure>
{{/* - else - */}}
<!--    <p class="build-error">Image not found!</p> -->
{{- end -}}

{{- define "respimg.html" -}}
{{- $smallw    := "576"  -}}
{{- $mediumw   := "768"  -}}
{{- $largew    := "992"  -}}
{{- $xlargew   := "1200" -}}
{{- $smallImg  := .src.Resize ( printf "%dx" 500  ) -}}
{{- $mediumImg := .src.Resize ( printf "%dx" 700  ) -}}
{{- $largeImg  := .src.Resize ( printf "%dx" 900  ) -}}
{{- $xlargeImg := .src.Resize ( printf "%dx" 1140 ) -}}
<img class="img-fluid"
    {{- if ge .w $smallw -}}
    srcset="{{ if ge .w $smallw }}{{ with $smallImg.RelPermalink }}{{.}} {{ $smallw }}w{{end}}{{ end }}{{ if ge .w $mediumw }}{{ with $mediumImg.RelPermalink }},{{.}} {{ $mediumw }}w{{end}}{{ end }}{{ if ge .w $largew }}{{ with $largeImg.RelPermalink }},{{.}} {{ $largew }}w{{end}}{{ end }},{{ .largsrc.RelPermalink }} {{ .w }}w"
    sizes="(max-width: 576px) 500px{{ if ge .w $mediumw }}, (max-width: 768px) 700px{{ end }}{{ if ge .w $largew }}, (max-width: 992px) 900px{{ end }}{{ if ge .w $xlargew }}, (max-width: 1200px) 1140px{{ end }}, 100vw"
    {{- end -}}
    src="{{ .largsrc.RelPermalink }}" width="{{ .w }}px" height="{{ .h }}px" 
    {{- if or ( .p.alt ) ( .p.caption ) -}}
        alt="{{- with .p.alt -}}{{- . | markdownify| plainify -}}{{- else -}}{{- .p.caption | markdownify| plainify -}}{{- end -}}"
    {{- end -}} />
{{ end }}