{{- $context := .context -}}
<ul class="post-meta {{ with .class -}}{{ . }}{{- end -}}">
    {{- range $order, $meta := .prm -}}
        {{- if eq $meta "authors" -}}
            {{- $list := slice -}}
            {{- range $context.GetTerms "authors" -}}
                {{- $list = $list | append (printf "<a href=\"%s\">%s</a>" .Permalink (humanize .LinkTitle)) -}}
            {{- end -}}
            {{- if gt (len $list) 0 -}}
            <li class="post-author">
                <i class="fas fa-user-edit"></i><span class="visually-hidden" aria-label="hidden">{{- i18n "by" -}}</span> 
                <span class="by-author">{{- delimit $list ", " -}} </span>
            </li>
            {{- end -}}
        {{- end -}}
        {{- if eq $meta "date" -}}
            <li class="post-date">
                {{- $string := "" -}}
                {{- if and (eq $.kindstr "page") (gt ($context.Lastmod.Format "2-Jan-2006") ($context.Date.Format "2-Jan-2006")) -}}
                    {{- $string = printf (i18n "updated") ($context.Lastmod.Format $context.Site.Params.FormatDate | default "2-Jan-2006") -}}
                {{- end -}}
                <i class="fas fa-calendar-alt"></i><span class="visually-hidden">{{- i18n "posted-on" -}}</span>
                <time class="entry-date published" datetime="{{- $context.Lastmod -}}"> 
                    {{ $context.Date.Format $context.Site.Params.FormatDate | default "2-Jan-2006" -}}{{- $string -}}
                </time>
            </li>
        {{- end -}}
        {{- if eq $meta "reading" -}}
            <li class="post-read">
                <i class="fas fa-clock" aria-hidden="true"></i> <span class="visually-hidden" aria-label="hidden">{{- i18n "reading-label" $context.ReadingTime -}}</span>
                {{- i18n "reading-sentence" $context.ReadingTime -}}
            </li>
        {{- end -}}
        {{- if eq $meta "tags" -}}
            {{- $sl := slice -}}
            {{- with $context.GetTerms "tags" -}}
                {{- range . -}}
                    {{- $sl = $sl | append (printf "<a href=\"%s\">%s</a>" .Permalink (humanize .LinkTitle)) -}}
                {{- end -}}
            {{- end -}}
            <li class="post-tags">
                <i class="fas fa-tags"></i>
                <span class="visually-hidden" aria-label="hidden">{{- i18n "tags" (len $sl) -}}:</span>
                {{- delimit $sl ", " -}} 
            </li>
        {{- end -}}
        {{- if eq $meta "section" -}}
            {{- if ne $.kindstr "section" -}}
                {{- with $context.Parent }}
                <li class="post-section">
                    <i class="fas fa-folder-open"></i><span class="visually-hidden">{{- i18n "In" -}}</span> 
                    <span class="in-category"><a href="{{- .Permalink -}}" title="{{- i18n "post_category" .Name  -}}">{{- .Name -}}</a></span>
                </li><!-- class="visually-hidden" -->
                {{- end -}}
            {{- end }}
        {{- end -}}
        {{- if eq $meta "category" -}}
            {{- $list := slice -}}
            {{- range $context.GetTerms "categories" -}}
                {{- $list = $list | append (printf "<a href=\"%s\">%s</a>" .Permalink (humanize .LinkTitle)) -}}
            {{- end -}}
            {{- if gt (len $list) 0 -}}
            <li class="post-category">
                <i class="fas fa-folder-open"></i><span class="visually-hidden" aria-label="hidden">{{- i18n "In" -}}</span> 
                <span class="in-category">{{- delimit $list ", " -}} </span>
            </li>
            {{- end -}}
        {{- end -}}
    {{- end -}}
</ul>