<a name="page-top"></a>
<nav class="navbar navbar-expand-lg navbar-light sticky-top" id="main-menu">
    <div class="container">
        <a class="navbar-brand" href="{{- .Site.BaseURL -}}" title="{{- .Site.Title -}}">
            {{- $logo := false -}}
            {{- with .Site.Params.BrandLogo -}}
                {{- $abs_path := path.Join "/static" . -}}
                {{- if fileExists $abs_path -}}
                    {{- with (imageConfig $abs_path) -}}
                      <img id="logo" class="site-brand-logo" src="{{- $.Site.Params.BrandLogo | relURL -}}" width="{{- .Width -}}px" height="{{- .Height -}}px" />
                      {{- $logo = true -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}
            {{- if or (eq $logo false) (.Site.Params.DisplayBrandTitle | default true) -}}
                <p>{{- (.Site.Params.BrandTitle | default .Site.Title) | markdownify -}}</p>
            {{- end -}}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainmenu">
            <ul class="navbar-nav me-auto">
                {{- $currentPage := . -}}
                {{- if eq .Kind "page" -}}
                    {{- with .Parent -}} {{- $currentPage = . -}}{{- end -}}
                {{- end -}}
                {{- range .Site.Menus.main -}}
                    {{- $active := ""    -}}
                    {{- $link   := .Name -}}
                    {{- if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) -}}
                        {{- $active = " active" -}}
                        {{- $link   = printf "%s<span class=\"visually-hidden\"> (current)</span>" .Name -}}
                    {{- end }}
                    {{- if .Pre -}}
                        {{- $link = printf "<i class=\"%s\"></i> <span class=\"visually-hidden\">%s</span>" .Pre $link -}}
                    {{- end -}}
                    <li class="nav-item">
                        <a class="nav-link {{- $active -}}" href="{{- .URL | absURL -}}" id="{{- .Identifier -}}" title="{{- .Name -}}">{{- safeHTML $link -}}</a>
                    </li>
                {{- end -}}
            </ul>
            <a class="nav-link" href="#search-query" id="search" title="{{- i18n "search" -}}">
                <i class="fas fa-search" aria-hidden="true"></i> <span class="visually-hidden">{{- i18n "search" -}}</span>
            </a>
        </div><!-- navbar -->
    </div><!-- container -->
</nav>