
{{- $currentPage := . -}}
{{- $series := .GetTerms "series" -}}
{{- if ge (len $series) 1 -}}
<aside class="col related-posts">
    <h4>{{- if eq (len $series) 1 -}}{{ i18n "same-serie" }}{{- else -}}{{ i18n "same-series" }}{{- end -}}</h4>
    {{/*- with $series -*/}}
        {{- range $series -}}
            {{- if gt (len $series) 1 -}}<p>{{- .Title -}}</p>{{- end -}}
        <ul>
            {{- range .Pages -}}
                {{- if eq $currentPage . }}
                <li><strong>{{ .Title }}</strong></li>
                {{- else -}}
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{- end -}}
            {{- end -}}
        </ul>
        {{- end -}}
    {{/*- end -*/}}
</aside><!-- related-posts -->
{{- end -}}
