<!-- Schema -->
<!-- -------------------- Organization logo -------------------- -->
{{- $logo := dict -}}
{{- $logo_id := false -}}
{{- if isset .Site.Params "brandlogo" -}}
    {{- $logo_id = printf "%s#logo" site.BaseURL -}}
    {{- $logo = dict "@type" "ImageObject" "@id" $logo_id "url" (printf "%s%s" (site.BaseURL | absURL) (index .Site.Params "brandlogo")) "contentUrl" (printf "%s%s" (site.BaseURL | absURL) (index .Site.Params "brandlogo")) "caption" .Site.Title -}}
{{- end -}}
<!-- -------------------- Organization ---------------------->
{{- $org_id := (printf "%s#organization" site.BaseURL ) -}}
{{- $org := dict "@type" "Organization" "@id" (printf "%s#organization" site.BaseURL) "name" .Site.Title "url" site.BaseURL -}}
{{- if $logo_id -}}
    {{- $org = merge $org (dict "logo" $logo) -}}
    {{- $org = merge $org (dict "image" (dict "@id" $logo_id)) -}}
{{- end -}}
{{- with .Site.Params.FollowLinks.socials -}}
    {{- $list_url := slice -}}
    {{- range . -}}
        {{- if .account -}}
            {{- $acc := .account}}
            {{- if and (ne .id nil) (ne $.Site.Data.socials.config nil) -}}
                {{- with (index $.Site.Data.socials.config .id) -}}
                    {{- $list_url = $list_url | append (printf .follow $acc) -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
    {{- if (gt (len $list_url) 0 ) -}}
        {{- $org = merge $org (dict "sameAs" (apply $list_url "chomp" ".")) -}}
    {{- end -}}
{{- end -}}
<!-- -------------- Website ----------------- -->
{{- $website_id := (printf "%s#website" site.BaseURL) -}}
{{- $website := dict "@type" "WebSite" "@id" $website_id "url" site.BaseURL "name" site.Title "inLanguage" site.LanguageCode -}}
{{- $website = merge $website (dict "publisher" (dict "@id" $org_id) "copyrightHolder" (dict "@id" $org_id)) -}}
{{- with .Site.Params.Description -}}
  {{- $website = merge $website (dict "description" .) -}}
{{- end -}}
{{/* - with .Site.Params.Keywords - */}}
  {{/* - $website = merge $website (dict "keywords" (delimit . ", ")) - */}}
{{/* - end - */}}
<!-- ----------- Search box -------------- -->
{{- $website = merge $website (dict "potentialAction" (dict "@type" "SearchAction" "target" (dict "@type" "EntryPoint" "urltemplate" (printf "%s%s" site.BaseURL "search/?s={search_term_string}")) "query-input" "required name=search_term_string")) -}}
<!-- -------------------- Breadcrumb ----------------------- -->
{{- $breadcrumb    := dict -}}
{{- $breadcrumb_id := (printf "%s#breadcrumb" .Permalink) -}}
{{- $items := slice -}}
{{- $items_list := slice -}}
{{- $post := . -}}
{{- $p := . -}}
{{- $items_list = slice $p | append $items_list -}}
{{- if $p.Parent -}}{{- $p = $p.Parent -}}
  {{- $items_list = slice $p | append $items_list -}}
  {{- if $p.Parent -}}{{- $p = $p.Parent -}}
    {{- $items_list = slice $p | append $items_list -}}
    {{- if $p.Parent -}}{{- $p = $p.Parent -}}
      {{- $items_list = slice $p | append $items_list -}}
        {{- if $p.Parent -}}{{- $p = $p.Parent -}}
          {{- $items_list = slice $p | append $items_list -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $count := 1 -}}
{{- range  $items_list -}}
    {{- $item_name := "" -}}
    {{- if (eq .Kind "home") -}}{{- $item_name = "Home" -}}{{- else -}}{{- $item_name = .Title -}}{{- end -}}
    {{- if eq . $post -}}
      {{- $items = $items | append (dict "@type" "ListItem" "position" $count "name" $item_name ) -}}
    {{- else -}}
      {{- $items = $items | append (dict "@type" "ListItem" "position" $count "item" (dict "@id" .Permalink  "name" $item_name)) -}}
    {{- end -}}
    {{- $count = add $count 1 -}}
{{- end -}}
{{- $breadcrumb = dict "@id" $breadcrumb_id "@type" "BreadcrumbList" "itemListElement" $items -}}
<!-- ----------- PrimaryImage -------------- -->
{{- $primary_image := dict -}}
{{- $primary_image_id := (printf "%s#primaryimage" .Permalink) -}}
{{- if ne .Kind "home" -}}
  {{- if isset .Params "images" -}}
    {{- $src := .Resources.GetMatch ( index .Params.Images 0 ) -}}
    {{- if $src -}}
      {{- $imgpath := (path.Join "/content" .RelPermalink (index .Params.Images 0)) -}}
      {{- $details := imageConfig ($imgpath) -}}
      {{- $width   := strings.TrimSuffix "px" $details.Width  -}}
      {{- $height  := strings.TrimSuffix "px" $details.Height -}}
      {{ $primary_image = (dict "@type" "ImageObject" "@id" $primary_image_id  "inLanguage" site.LanguageCode "url" $src.Permalink "contenturl" $src.Permalink "width" $width "height" $height) -}}
    {{- else -}}
      {{ $primary_image = (dict "@type" "ImageObject" "@id" $primary_image_id  "inLanguage" site.LanguageCode "url" $src) -}}  
    {{- end -}}
  {{- else -}}
    {{ $primary_image = (dict "@type" "ImageObject" "@id" $primary_image_id  "inLanguage" site.LanguageCode "url" "No image") -}}  
  {{- end -}}
{{- end -}}
<!-- ----------- WebPage -------------- -->
{{- $permalink  := .Permalink | absURL -}}
{{- $webpage_id := printf "%s#webpage" $permalink -}}
{{- $title := "" -}}
{{- $published_date := .Date.Format "2006-01-02" -}}
{{- if eq $published_date "0001-01-01" -}}{{- $published_date = .Lastmod.Format "2006-01-02" -}}{{- end -}}
{{- $webpage := dict "@id" $webpage_id "url" $permalink "name" $title "datePublished" $published_date "dateModified" (.Lastmod.Format "2006-01-02") "breadcrumb" (dict "@id" $breadcrumb_id) -}}
{{- if .IsHome -}}{{- $title = site.Title -}}{{- else -}}{{- $title = (.Title | default site.Title) -}}{{- end -}}
{{- $page_type := slice -}}
{{- if or (eq .Kind "page") (eq .Kind "home") -}}
    {{- $page_type = "webpage" -}}
{{- else -}}
    {{- $page_type = (slice "webpage" "CollectionPage") -}}
{{- end -}}
{{- if ne .Kind "home" -}}{{- $webpage = merge $webpage (dict "potentialAction" (slice (dict "@type" "ReadAction" "target" (slice (printf .Parent.Permalink))))) -}}{{- end -}}
{{- $webpage = merge $webpage (dict "@type" $page_type "isPartOf" (dict "@id" $website_id) "inLanguage" site.LanguageCode "description" (.Description | default ( .Summary | plainify | truncate 150 "..." | safeHTML ))) -}}
{{- if eq .Kind "section" -}}
  {{- with .Params.Tags -}}
    {{- $webpage = merge $webpage (dict "keywords" (delimit . ", ")) -}}
  {{- end -}}
{{- end -}}
{{- if and (ne .Kind "home") (gt (len $primary_image) 0) -}}
  {{- $webpage = merge $webpage (dict "primaryImageOfPage" (dict "@id" $primary_image_id)) -}}
{{- end -}}
<!-- ----------- Article -------------- -->
{{- $page := dict -}}
{{- if eq .Kind "page" -}}
  {{- $authors:= slice -}}
  {{- $count := 1 -}}
  {{- with .GetTerms "authors" -}}
    {{- range . -}}
      {{- $author := dict "@type" "person" "@id" (printf "%s#author_%d" $permalink $count) -}}
      {{- with .Title -}}{{- $author = merge $author (dict "name" . ) -}}{{- end -}}
      {{- with .Params.Gender -}}{{- $author = merge $author (dict "gender" . ) -}}{{- end -}}
      {{- with .Params.Firsname -}}{{- $author = merge $author (dict "givenName" . ) -}}{{- end -}}
      {{- with .Params.Lastname -}}{{- $author = merge $author (dict "familyName" . ) -}}{{- end -}}
      {{- with .Params.Jobtitle -}}{{- $author = merge $author (dict "jobTitle" . ) -}}{{- end -}}
      {{- with .Params.email -}}{{- $author = merge $author (dict "email" . ) -}}{{- end -}}
      {{- $image := .Page.Resources.GetMatch .Params.Avatar -}}
      {{- with $image -}}{{- $author = merge $author (dict "image" .Permalink ) -}}{{- end -}}
      {{- with .Params.Socials -}}
        {{- $sameas := slice -}}
        {{- range . -}}
          {{- $sameas = $sameas | append .url -}}
        {{- end -}}
        {{- if gt (len $sameas) 0 -}}
          {{- $author = merge $author (dict "sameas" $sameas ) -}}
        {{- end -}}
      {{- end -}}

      {{- $authors = $authors | append $author -}}
      {{- $count = add $count 1 -}}
    {{- end -}}
  {{- end -}}
  {{- $page = dict "@type" "Article" "@id" (printf "%s#article" $permalink) "mainEntityOfPage" (dict "@id" (printf "%s#webpage" $permalink)) "headline" (.Title | safeHTML) -}}
  {{- $page = merge $page (dict "datePublished" (.Date.Format "2006-01-02") "dateModified" (.Lastmod.Format "2006-01-02") "inLanguage" site.LanguageCode) -}}
  {{- $page = merge $page (dict "publisher" (dict "@id" $org_id) "copyrightYear" (.Lastmod.Format "2006") "copyrightHolder" (dict "@id" $org_id)) -}}
  {{- if gt (len $authors) 0 -}}
    {{- $page = merge $page (dict "author" $authors) -}}
  {{- end -}}
  {{- with .Params.Tags -}}
    {{- $page = merge $page (dict "keywords" (delimit . ", ")) -}}
  {{- end -}}
  {{- $section := .Parent -}}
  {{- with $section -}}
    {{- $page = merge $page (dict "articleSection" .Name) -}}
  {{- end -}}
  {{- if and (ne .Kind "home") (gt (len $primary_image) 0) -}}
    {{- $page = merge $page (dict "Image" (dict "@id" $primary_image_id)) -}}
  {{- end -}}
  {{- $page = merge $page (dict "potentialAction" (slice (dict "@type" "CommentAction" "name" "Comment" "target" (slice (printf "%s#posts-comments" .Permalink))))) -}}
{{- end -}}
<script type="application/ld+json">
  {{- (dict "@context" "https://schema.org" "@graph" (slice $org $website $breadcrumb $primary_image $webpage $page)) | jsonify | safeJS -}}  
</script>