<!-- Schema -->
<!-- -------------------- Organization logo -------------------- -->
{{- $logo := dict -}}
{{- $logo_id := false -}}
{{- if isset .Site.Params "brandlogo" -}}
    {{- $logo_id = printf "%s#logo" site.BaseURL -}}
    {{- $logo = dict "@type" "ImageObject" "@id" $logo_id "url" (printf "%s%s" (site.BaseURL | absURL) (index .Site.Params "brandlogo")) "caption" .Site.Title -}}
{{- end -}}
<!-- ----------------------- Author ------------------------->
{{/*- $person := dict "@type" "Person" "@id" "@id" (printf "%s#person" (site.BaseURL | absURL) -*/}}

<!-- -------------------- Organization ---------------------->
{{- $org := dict "@type" "Organization" "@id" (printf "%s#organization" site.BaseURL) "name" .Site.Title "url" site.BaseURL -}}
{{- if $logo_id -}}
    {{- $org = merge $org (dict "logo" (dict "@id" $logo_id)) -}}
{{- end -}}
{{- with .Site.Params.FollowLinks.socials -}}
    {{- $list_url := slice -}}
    {{- range . -}}
        {{- if .account -}}
            {{- $acc := .account}}
            {{- if and (ne .id nil) (ne $.Site.Data.socials.config nil) -}}
                {{- with (index $.Site.Data.socials.config .id) -}}
                    {{- $list_url = $list_url | append (printf .follow $acc) -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
    {{- if (gt (len $list_url) 0 ) -}}
        {{- $org = merge $org (dict "sameAs" (apply $list_url "chomp" ".")) -}}
    {{- end -}}
{{- end -}}
<!-- -------------- Website ----------------- -->
{{- $website := dict "@type" "WebSite" "@id" (printf "%s#website" site.BaseURL) "url" site.BaseURL "name" site.Title "inLanguage" site.LanguageCode -}}
{{- $website = merge $website (dict "publisher" (dict "@id" (printf "%s#organization" site.BaseURL ))) -}}
{{- with .Site.Params.Description -}}
  {{- $website = merge $website (dict "description" .) -}}
{{- end -}}
{{- with .Site.Params.Keywords -}}
  {{- $website = merge $website (dict "keywords" (delimit . ", ")) -}}
{{- end -}}
<!-- ----------- Search box -------------- -->
{{- $website = merge $website (dict "potentialAction" (dict "@type" "SearchAction" "target" (printf "%s%s" site.BaseURL "?s={search_term_string}") "query-input" "required name=search_term_string")) -}}
<!-- ------------------ List of sections ------------------- -->
{{- $sections := dict -}}
{{- if eq .Kind "home" -}}
  {{- $list := slice -}}
  {{- $count := 1 -}}
  {{/*- range .Site.Menus.main -*/}}
  {{- range .Site.Sections -}}
    {{- $list = $list | append (dict "@type" "ListItem" "position" $count "url" (.Permalink | absURL) "name" .Title "description" (.Description | default ( .Summary | plainify | truncate 150 "..." | safeHTML ))) -}}
    {{- $count = add $count 1 -}}
  {{- end -}}
  {{- $sections = dict "@type" "ItemList" "itemListElement" $list -}}
{{- end -}}
<!-- -------------------- Breadcrumb ----------------------- -->
{{- $breadcrumb := dict -}}
{{- if ne .Kind "home" -}}
    {{- $items_list := slice -}}
    {{- $post := . -}}
    {{- $p := . -}}
    {{- if $p.Parent -}}{{- $items_list = slice $p | append $items_list -}}{{- $p = $p.Parent -}}{{- end -}}
    {{- if $p.Parent -}}{{- $items_list = slice $p | append $items_list -}}{{- $p = $p.Parent -}}{{- end -}}
    {{- if $p.Parent -}}{{- $items_list = slice $p | append $items_list -}}{{- $p = $p.Parent -}}{{- end -}}
    {{- if $p.Parent -}}{{- $items_list = slice $p | append $items_list -}}{{- $p = $p.Parent -}}{{- end -}}
    {{- if $p.Parent -}}{{- $items_list = slice $p | append $items_list -}}{{- end -}}
    {{- $count := 1 -}}
    {{- $items := slice -}}
    {{- range  $items_list -}}
        {{- if eq . $post -}}
          {{- $items = $items | append (dict "@type" "ListItem" "position" $count "name" .Title ) -}}
        {{- else -}}
          {{- $items = $items | append (dict "@type" "ListItem" "position" $count "name" .Title "item" .Permalink) -}}
        {{- end -}}
        {{- $count = add $count 1 -}}
    {{- end -}}
    {{- $breadcrumb = dict "@id" (printf "%s#breadcrumb" .Permalink) "@type" "BreadcrumbList" "itemListElement" $items -}}
{{- end -}}
<!-- ----------- WebPage -------------- -->
{{- $permalink := .Permalink | absURL -}}
{{- $title := "" -}}
{{- if .IsHome -}}{{- $title = site.Title -}}{{- else -}}{{- $title = (.Title | default site.Title) -}}{{- end -}}
{{- $webpage := dict "@type" "WebPage" "@id" (printf "%s#webpage" $permalink) "url" $permalink "name" $title "datePublished" (.Date.Format "2006-01-02") "dateModified" (.Lastmod.Format "2006-01-02") -}}
{{- $webpage = merge $webpage (dict "isPartOf" (dict "@id" (printf "%s#website" site.BaseURL)) "inLanguage" site.LanguageCode) -}}
{{- $webpage = merge $webpage (dict "description" (.Description | default ( .Summary | plainify | truncate 150 "..." | safeHTML ))) -}}
{{- if eq .Kind "section" -}}
  {{- with .Params.Tags -}}
    {{- $webpage = merge $webpage (dict "keywords" (delimit . ", ")) -}}
  {{- end -}}
{{- end -}}
{{- if ne .Kind "home" -}}
  {{- $webpage = merge $webpage (dict "breadcrumb" (dict "@id" (printf "%s#breadcrumb" $permalink))) -}}
{{- end -}}
{{- $string := "" -}}
{{- with .Params.Images -}}
  {{- $string = partial "list_images" (dict "list" (first 1 . ) "link" $permalink) -}}
  {{- if ne $string "" -}}{{- $webpage = merge $webpage (dict "primaryImageOfPage" $string) -}}{{- end -}}
{{- end -}}
<!-- ----------- Article -------------- -->
{{- $page := dict -}}
{{- if eq .Kind "page" -}}
  {{- $page = dict "@type" "Article" "@id" (printf "%s#article" $permalink) "mainEntityOfPage" (dict "@id" (printf "%s#webpage" $permalink)) "headline" (.Title | safeHTML) -}}
  {{- $page = merge $page (dict "datePublished" (.Date.Format "2006-01-02") "dateModified" (.Lastmod.Format "2006-01-02") "inLanguage" site.LanguageCode) -}}
  {{- $page = merge $page (dict "publisher" (dict "@id" (printf "%s%s" site.BaseURL "#organization"))) -}}
  {{- with .Params.Authors -}}
    {{- $page = merge $page (dict "author" (dict "@type" "Person" "name" (delimit . ","))) -}}
  {{- end -}}
  {{- with .Params.Tags -}}
    {{- $page = merge $page (dict "keywords" (delimit . ", ")) -}}
  {{- end -}}
  {{- $section := .Parent -}}
  {{- with $section -}}
    {{- $page = merge $page (dict "articleSection" .Name) -}}
  {{- end -}}
  {{- $string := "" -}}
  {{- with .Params.Images -}}
    {{- $string = partial "list_images" (dict "list" . "link" $permalink) -}}
    {{- if ne $string "" -}}{{- $page = merge $page (dict "image" $string) -}}{{- end -}}
  {{- end -}}
{{- end -}}
<script type="application/ld+json">
  {{- (dict "@context" "https://schema.org" "@graph" (slice $logo $org $website $sections $breadcrumb $webpage $page)) | jsonify | safeJS -}}  
</script>
{{- define "partials/list_images" -}}
  {{- $strImgList := "" -}}
  {{- with .list -}}
    {{- $url := slice -}}
      {{- range . -}}
        {{- $url = $url | append (printf "%s%s" $.link .) -}}
      {{- end -}}
    {{- with $url -}}{{- $strImgList = apply $url "chomp" "." -}}{{- end -}}
  {{- end -}}
  {{- return $strImgList -}}
{{- end -}}