
<aside class="row share-links">
    {{- $url := .Permalink | absURL | safeURL -}}
    {{- $title := .Title | safeURL -}}
    {{- $description := "" -}}
    {{- with .Params.Description -}}{{- $description = . -}}{{- else -}}{{- $description = ( .Summary | truncate 200) -}}{{- end -}}
    {{- $tags := "" -}}
    {{- if isset .Params "tags" -}}
        {{- $tags = delimit .Params.tags "," -}}
    {{- end -}}
    {{- range sort .Site.Params.ShareLinks "order" -}}
        {{- $title := printf "%s %s" (i18n "share-link") .media -}}
        {{- if eq .id "facebook" -}}
        <div class="col">
            <a href="https://www.facebook.com/sharer.php?s=100&p[url]={{- $url -}}" class="share-link facebook" title="{{- $title }}" aria-label="{{- .media -}}" rel="noopener noreferrer">
                <i aria-hidden="true" class="fab fa-facebook"></i>
                <span class="share-text">{{- .media -}}</span>
            </a>
        </div>
        {{- else if eq .id "twitter" -}}
        {{- $via := "" -}}
        {{- with site.Params.ShareLinks.account -}}
            {{- $via = (printf "&via=%s" .) -}}
        {{- end -}}
        <div class="col">
            <a href="https://twitter.com/share?url={{- $url -}}{{- $via -}}{{- with $tags -}}&hashtags={{- . | safeURL -}}{{- end -}}" class="share-link twitter" title="{{- $title }}"  aria-label="{{- .media -}}" rel="noopener noreferrer">
                <i aria-hidden="true" class="fab fa-twitter"></i>
                <span class="share-text">Twitter</span>
            </a>
        </div>
        {{- else if eq .id "linkedin" -}}
        <div class="col">
            <a href="http://www.linkedin.com/shareArticle?url={{- $url -}}&title={{- $title -}}" class="share-link linkedin" title="{{- $title }}"  aria-label="{{- .media -}}" rel="noopener noreferrer">
                <i aria-hidden="true" class="fab fa-linkedin"></i>
                <span class="share-text">LinkedIn</span>
            </a>
        </div>
        {{- else if eq .id "pinterest" -}}
        <div class="col">
            <a href="https://pinterest.com/pin/create/bookmarklet/?url={{- $url -}}&description={{- $description | safeURL -}}" class="share-link pinterest" title="{{- $title }}"  aria-label="{{- .media -}}" rel="noopener noreferrer">
                <i aria-hidden="true" class="fab fa-pinterest"></i>
                <span class="share-text">Pinterest</span>
            </a>
        </div>
        {{- else if eq .id "whasapp" -}}
        {{/* media=img& */}}
        <div class="col">
            <a href=" https://wa.me/?text={{- $url -}}" class="share-link whatsapp" title="{{- $title }}"  aria-label="{{- .media -}}" rel="noopener noreferrer">
                <i aria-hidden="true" class="fab fa-whatsapp"></i>
                <span class="share-text">Whatsapp</span>
            </a>
        </div>
        {{- else if eq .id "reddit" -}}
        <div class="col">
            <a href="http://reddit.com/submit?url={{- $url -}}&title={{- $title -}}" class="share-link reddit" title="{{- $title }}"  aria-label="{{- .media -}}" rel="noopener noreferrer">
                <i aria-hidden="true" class="fab fa-reddit"></i>
                <span class="share-text">Reddit</span>
            </a>
        </div>
        {{- else if eq .id "digg" -}}
        <div class="col">
            <a href="http://digg.com/submit?url={{- $url -}}&title={{- $title -}}" class="share-link digg" title="{{- $title }}"  aria-label="{{- .media -}}" rel="noopener noreferrer">
                <i aria-hidden="true" class="fab fa-digg"></i>
                <span class="share-text">Digg</span>
            </a>
        </div>
        {{- else if eq .id "tumblr" -}}
        <div class="col">
            <a href="http://www.tumblr.com/share/link?url={{- $url -}}&name={{- $title -}}&description={{- $description | safeURL -}}" class="share-link tumblr" title="{{- $title }}"  rel="noopener noreferrer">
                <i aria-hidden="true" class="fab fa-tumblr"></i>
                <span class="share-text">Tumblr</span>
            </a>
        </div>
        {{- else if eq .id "mix" -}}
        <div class="col">
            <a href="https://mix.com/add?url={{- $url -}}" class="share-link mix" title="{{- $title }}"  rel="noopener noreferrer">
                <i aria-hidden="true" class="fab fa-mix"></i>
                <span class="share-text">Mix.com</span>
            </a>
        </div>
        {{- else if eq .id "email" -}}
        <div class="col">
            <a href="mailto:to?subject={{- $title -}}&body={{- $description | safeURL -}}" class="share-link email" title="{{- $title }}"  aria-label="{{- .media -}}">
                <i aria-hidden="true" class="fas fa-envelope"></i>
                <span class="share-text">Email</span>
            </a>
        </div>
        {{- end -}}
    {{- end -}}
</aside>